/* Universal Styles */

html body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 1400px;
  overflow-x: hidden;
}

/* Header */

header {
  padding: auto 10px;
  height: 69px;
  position: fixed;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid seashell;
  width: 1400px;
  background-color: black;
  display: inline-flex;
}

.tea-logo img {
  height: 50px;
  position: relative;
  top: 15%;
  padding-left: 10px;
}

header .header-nav {
  width: 100%;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
}

.header-nav li {
  list-style-type: none;
  margin-left: 5%;
}

.header-nav a {
  color: seashell;
}

/* Main */

main {
  position: relative;
  top: 61px;
}

/* Mission Statement */

main #mission-statement {
  background-image: url("../images/mission-background.jpg");
  background-size: 100% 100%;
  background-position: center;
  height: 700px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mission-statement .statement-text {
  width: 100%;
  background-color: black;
  text-align: center;
  height: 20%;
}

/* Tea of the Month */

#featured-tea {
  margin: auto 100px;
  width: 1000;
}

#featured-tea .featured-text {
  text-align: center;
}

/* Need to center flexwrap items */
.tea-img {
  display: inline-block;
}

.tea-img .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
/* Need to center flexwrap items */

/* Locations */

#locations {
  width: 100%;
  height: 500px;
  background-image: url(../images/locations-background.jpg);
  background-size: cover;
  background-position: center;
}

#locations h2 {
  padding-top: 3%;
  text-align: center;
}

#locations .locs {
  display: flex;
  justify-content: center;
}

#locations .loc {
  opacity: 1;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 15px 40px;
  text-align: center;
  line-height: 2.5;
}

/* Footer */

footer {
  position: relative;
  top: 50px;
}

footer .footer-content {

}

footer .contact {
  height: 200px;
  text-align: center;
}

footer .copyright {
  position: relative;
  top: 0px;
  bottom: 0px;
}

/* Media */
/* ----- */
/* Images */

.tea-img img {
  height: 200px;
  width: 300px;
}
